@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg {
    background-color: #2d3a8c;
    height: 100vh;
}

.heading {
    font-family: "Roboto";
    font-size: 18px;
    color: #ffffff;
}

.para {
    font-family: "Roboto";
    font-size: 24px;
    color: #ffffff;
    margin-top: 0px;
}

.bg-2 {
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100vh;
}

.bg-3 {
    background-color: #f5f7fa;
    border-radius: 15px;
    margin: 12px;
    padding: 10px;
}

.content {
    padding: 15px;
    font-family: "Roboto";
    font-size: 28px;
    color: #323f4b;
}

.button {
    background-color: #21396c;
    color: #ffffff;
    border-radius: 5px;
}

.errorMsg {
    color: #dc3545;
    font-family: "Roboto";
    font-size: 16px;
}

.siteName {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    list-style: none;
}